services:
  bluerov_ros2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        LABNAME: frostlab
    image: bluerov_ros2:latest
    container_name: bluerov_ros2
    privileged: true # Allows access to devices
    volumes:
      - ../bags:/home/frostlab/bags:rshared
      - ../config:/home/frostlab/config/:rw
      - /dev:/dev:rw # Mounts the device directory to allow access to devices
      - ../packages:/home/frostlab/ros2_ws/src:rw
      # - ./entrypoint.sh:/entrypoint.sh:rw # Custom entrypoint script
    environment:
      RCUTILS_COLORIZED_OUTPUT: 1 # Allows launch files to print colored text
    stdin_open: true # Keeps the container running even if it's not attached to a terminal. 
    tty: true # outuputs the terminal for the container, allowing you to interact with it.
    network_mode: host # Uses the host's network stack, which is useful for ROS
    restart: always
    # entrypoint: ["/entrypoint.sh"]
    